<!DOCTYPE html>
<html lang="en">

<head>
  <title>CoderDocs - Bootstrap 4 Documentation Template For Software Projects</title>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
  <link rel="manifest" href="icons/site.webmanifest">
  <link rel="mask-icon" href="icons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="icons/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="icons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">

  <!-- FontAwesome JS-->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js"></script>

  <!-- Plugins CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.2/styles/atom-one-dark.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.11.0/simple-lightbox.css">

  <!-- Theme CSS -->
  <link id="theme-style" rel="stylesheet" href="assets/css/theme.css">

  <link id="theme-style" rel="stylesheet" href="assets/css/docs.css">

</head>

<body class="docs-page">
  <header class="header fixed-top">
    <div class="branding docs-branding">
      <div class="container-fluid position-relative py-2">
        <div class="docs-logo-wrapper">
          <button id="docs-sidebar-toggler" class="docs-sidebar-toggler docs-sidebar-visible me-2 d-xl-none" type="button">
            <span></span>
            <span></span>
            <span></span>
          </button>
          <div class="site-logo"><a class="navbar-brand" href="index.html"><img class="logo-icon me-2" src="icons/android-chrome-384x384.png" width="40" height="40" alt="logo"><span class="logo-text">Color.css<span class="text-alt">Docs</span></span></a></div>
        </div>
        <div class="docs-top-utilities d-flex justify-content-end align-items-center">
          <ul class="social-list list-inline mx-md-3 mx-lg-5 mb-0 d-none d-lg-flex">
            <li class="list-inline-item"><a href="https://github.com/PMinn/Color.css"><i class="fab fa-github fa-fw"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>


  <div class="docs-wrapper">
    <div id="docs-sidebar" class="docs-sidebar">
      <%- include('./partials/nav.ejs') %>
    </div>

    <div class="docs-content">
      <div class="container">
        <article class="docs-article" id="Introduction">
          <header class="docs-header">
            <h1 class="docs-heading">Introduction <span class="docs-time">Last updated: <%- dateString -%></span></h1>
            <section class="docs-intro">
              <p>Powerful, extensible, and feature-packed frontend toolkit.</p>
            </section>
          </header>
        </article>

        <article class="docs-article" id="Installation">
          <header class="docs-header">
            <h1 class="docs-heading">Installation</h1>
            <section class="docs-intro">
              <p>Include color css cdn in your website:</p>
            </section>
          </header>
          <% data.forEach(color=>{ %>
          <section class="docs-section" id="Installation_<%- color.id -%>">
            <h2 class="section-heading"><%- color.name -%> Color</h2>
            <p>
              <code>&#x3C;link rel=&#x22;stylesheet&#x22; href=&#x22;https://cdn.jsdelivr.net/gh/PMinn/Color.css/src/<%- color.id -%>.css&#x22;&#x3E;</code>
            </p>
          </section>
          <% }) %>
        </article>
        <!--//docs-article-->


        <article class="docs-article" id="Usage">
          <header class="docs-header">
            <h1 class="docs-heading">Usage</h1>
            <section class="docs-intro">
              <p>Use CSS variables</p>
              <div class="docs-code-block">
                <pre class="shadow-lg rounded"><code class="language-xml hljs"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"width:50px;height:50px;background-color:var(--&lt;ColorName&gt;);"</span>&gt;</span></code></pre>
              </div>
              <p>or</p>
              <div class="docs-code-block">
                <pre class="shadow-lg rounded"><code class="language-css hljs"><span class="hljs-selector-tag">div</span> {<br>    <span class="hljs-attribute">width</span>:<span class="hljs-number">50px</span>;<br>    <span class="hljs-attribute">height</span>:<span class="hljs-number">50px</span>;<br>    <span class="hljs-attribute">background-color</span>:<span class="hljs-built_in">var</span>(--&lt;ColorName&gt;);<br>}</code></pre>
              </div>
              <%- include('./partials/callout.ejs',{type:'info',inner:'<ColorName> must be replaced with the ColorName to use.'}) %>
            </section>
          </header>
        </article>

        <article class="docs-article" id="Colors">
          <header class="docs-header">
            <h1 class="docs-heading">Colors</h1>
            <section class="docs-intro">
              <p>There are <%- data.length -%> difference color can use:</p>
            </section>
          </header>
          <% data.forEach(color=>{ %>
          <section class="docs-section" id="Colors_<%- color.id -%>">
            <h2 class="section-heading"><%- color.name -%> Color</h2>
            <div class="table-responsive my-4">
              <table class="table table-bordered table-dark">
                <thead>
                  <tr>
                    <th scope="col">Color</th>
                    <th scope="col">Hex</th>
                    <th scope="col">ColorName</th>
                  </tr>
                </thead>
                <tbody>
                  <% color.data.forEach(c=>{ %>
                  <tr>
                    <td>
                      <div class="color" style="background-color: <%- c.color -%>;"></div>
                    </td>
                    <td><%- c.color -%></td>
                    <td><%- c.name.en -%></td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </section>
          <% }) %>
        </article>

        <footer class="footer">
          <div class="container text-center py-5">
            <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
            <small class="copyright">Copyright © 2022 P'Min. All rights reserved.</small>
            <ul class="social-list list-unstyled pt-4 mb-0">
              <li class="list-inline-item"><a href="https://github.com/PMinn/"><i class="fab fa-github fa-fw"></i></a></li>
              <li class="list-inline-item"><a href="https://www.instagram.com/min.developer/"><i class="fab fa-instagram fa-fw"></i></a></li>
            </ul>
            <!--//social-list-->
          </div>
        </footer>
      </div>
    </div>
  </div>
  <!--//docs-wrapper-->


  <!-- Javascript -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>


  <!-- Page Specific JS -->
  <script src="https://cdn.jsdelivr.net/gh/LieutenantPeacock/SmoothScroll@1.2.0/src/smoothscroll.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
  <script src="assets/js/highlight-custom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.11.0/simple-lightbox.min.js "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gumshoe/5.1.1/gumshoe.polyfills.min.js"></script>
  <script src="assets/js/docs.js"></script>

</body>

</html>